/* Header */
header {
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;   
}

.sticky{
    background: #fff;
    color:#124460;
}
.sticky a{  
    color: #124460;
}
/* Home */
.home{
    height: 102vh;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0) 100%),url("../assets/images/home/home-cover.jpg");
    background-size: cover;
    object-fit: fill;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 25%;
}

.home .home-title{
    font-family: 'DIN Next LT Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
    font-size: 60px;
    line-height:70px;
    text-transform: uppercase;
    color: #124460;
    text-align: left;
}
.home .home-desc{
    font-size: 20px;
    width: auto;
    color:#303334;
    font-family: myFirstFont;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    
}
.float-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    left: 20px;
   
}
.float-icons i{
    border: 2px solid transparent;
    border-radius: 50%;
    color:#cacccf;
    padding: 8px;   
    transition: all 1s ease-in-out;
}  
.float-icons .chat{
    background:#124460;
    margin: 10px 0;
}  
.float-icons .smile{
    background:#DC5419;

}  

@media(max-width:575px)
{
    .home .home-title{
        font-size: 25px;
    }
    .home .button{
        margin-bottom: 10px;
    }

}

/* services */
.services{
    background: #E5E5E5;    
}
.services .text-search{
  align-self: stretch;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: #E5E5E5;
  width: 100%;
}
.services .search{
    margin: 30px 0;
    border-bottom: 1px solid #124460;
    display: inline-flex;
}
.services .search i{
    margin: 0 10px;
}

.services .serv{
    background: #fff;
    text-align: center;
    height: 180px;
    padding:20px;
    margin-bottom: 20px;  
 
    transition:all 0.3s ease-in-out;
}
.serv-animate{
    animation: moveup 1s linear 1;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.title-animate{
    animation: moveup 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.animateUp-header{
    animation: moveup 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.animateUp-btn{
    animation: moveup 1.8s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.animateUp-content{
    animation: moveup 1.5s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
    
}
.services .dock-bottom .serv-info{
    text-align: left;
}

.services .serv .icon{
    background: #7cb62f;
    padding:15px;
    border: 2px solid #f6f6f6;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    
    transition:all 0.3s ease-in-out;
}
.services .serv-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#124460;
    transition:all 0.3s ease-in-out;
}

.services .serv-start{
    font-size: 15px;
    font-weight: 300;
    color: #DC5419;
}
.services  .serv-link{
    right: 15px;
    position: absolute;
    bottom: 5px;
}

.services .serv-desc{
    font-size: 17px;
    color: #888;
    margin-bottom: 20px;
    transition:all 0.3s ease-in-out;
}
.services .serv:hover{
  color: #888;
  background: #7cb62f;
}
.services .serv:hover i.icon{ 
      background: #fff;
      color:#7cb62f;
      border: 2px solid #999;

}
.services .serv:hover .serv-title,.services .serv:hover .serv-desc { 
    color:#fff;
}
.services .view-all button{
    background:#DC5419 ;
    color: #fff;
}
 .button:hover{
    background: #fff;
    color:#DC5419;
    font-weight: bold;
}
@media(max-width:575px)
{
    .section-header .section-title{
        font-size: 25px !important;
    }  
     .section-header,  .section-header p,.section-header h3{
       text-align: center;
       width: 100% !important;
    }
    .button{
        margin-left: 30%;
    }
    .services .section-header .search{
        text-align: center;
    }
    .services  .button{
        margin-left:30%;
       
    }
}


/*resources*/
.resources{
    background: #E5E5E5;
}
.resources .res-item{
text-align: center;
transition:all 0.3s ease-in-out;
}
.resources .res-content{
    margin-top: 30px;
    text-align: left;
    height: 180px;
    background: #124460;
    padding:20px;
    margin-bottom: 20px;
    transition:all 0.3s ease-in-out;
}
.resources .res-content .res-title
{
    color:#fff;
    font-size: 20px;
    line-height: 28px;
    margin: 50px 0;
}


.resources .res-content .view-details {
    position: absolute;
    bottom:30px;
}
.resources .res-item .res-content .view-details:hover  >i{ 
    color:#fff;
    cursor: pointer;
}

.resources .res-item .res-content .view-details:hover  >i a{ 
    
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
.resources .res-content .view-details >i,.resources .res-content .view-details  a{
    color: #FF9466 ;
}
.resources .res-image img{
    width: 70px;
    height: 70px;
}
.resources .res-image{
    position: absolute;
    top: 0;
}

/* Stat */
.statistics{
    background-image: url("../assets/images/services/h-ser-bg.jpg") ;
    height: 350px ;
    background-position: center;
    background-size: cover;
    position: relative;
}
active
.statistics .active{
  background: red;
}
.statistics  .stat-info-title:hover{
    cursor: pointer;
}

.statistics h2{
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
.statistics p{
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 10px    ;
    text-align: center; 
    padding-bottom: 20px;
}
.statistics .stat-info
{
    margin-top: 0px;
    text-align: center;
}
.statistics .stat-line{
    width: 25px;
    height: 3px;
    background:transparent;
    transition: all .5s ease-in-out;
    display: block;
}
.statistics .show-line{
    background: red;
}

.statistics .view-all{
    width: 50%;
    position: absolute;
    left: 25%;
    padding: 1rem;
    background: transparent;
    letter-spacing: .1875em;
    text-align: center;
    border: 1px solid #dddcde;
    color:#fff;
}
.statistics .view-all:hover{
    text-decoration: none;
    background: #fff;
    color:#124460;
    background-position: left bottom;
}
.statistics .stat-info i,.statistics .stat-info span{
    display: block;
    margin: auto;
    color:#fff;
    margin-bottom: 10px;
}
.statistics .stat-info i{
    background:#7cb62f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: auto;
}
.statistics .stat-info span.timer{
    font-size: 20px;
    margin-top: 10px;

}
.statistics .stat-info .stat-info-title{
    text-transform: capitalize;
    font-size: 14px;
}
@media (max-width:991px) {
    .statistics{
        height: 900px;
    }
    .statistics .view-all {
       width: 50%;
       transform: translateX(0%);
        font-size: 10px;
    }

    
}



/* initiatives ============= */
.initiatives .initiative-info {
    position: relative;
    width: 270px;
    height: 200px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 34px 44px -30px rgba(18, 68, 96, 0.3);
    transition: 0.3s;
    animation: load1 1.8s linear forwards
}

.border-top-right{
    border: 5px solid #124460;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.border-bottom-right{
    border: 5px solid #DC5419;
    box-sizing: border-box;
    transform: rotate(-180deg);
}
.border-bottom-left{
    border: 5px solid #124460;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.border-top-left{
    border: 5px solid #DC5419;
    box-sizing: border-box;
}
@keyframes load1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}
.initiatives .initiative-info img {
    position: absolute;
width: 100%;
}

.initiatives .initiative-info .item-info-title {
    margin: 5px 0
}

.initiatives .initiative-info .item-info-desc {
    display: block;
    margin-bottom: 5px
}

.initiatives .initiative-info .initiative-info-social {
    background: #252525;
    position: relative;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    color: #fff
}

.initiatives .initiative-info .initiative-info-social i {
    position: relative;
    z-index: 15
}

.initiatives .initiative-info .bg {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    transition: all 0.5s ease-in-out
}

.initiatives .initiative-info:hover .bg {
    width: 100%;
    background: #7cb62f;
}

@media(max-width:575px)
{
    .initiatives .section-content {
       align-items: center;
       margin-left: 25%;
    }
    .owl-carousel{

        justify-content: center !important; 
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-right: 50%;
    }
    .owl-carousel .owl-stage-outer {
        -webkit-transform: translate3d(-15%,0,0);
    }
 
}


/* choose ========== */
.choose {
    background:   #F6F6F6;    
}

.choose .c_panel ul {
    background: #333;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 0
}
.choose .inline-navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px;    
}
.choose .inline-navbar ul li{
    margin-right: 40px;
    font-size: 20px;
    color: #124460;
    
}
.choose .inline-navbar ul li:hover{
    cursor: pointer;
}

.choose .c_panel ul li {
    padding: 15px 20px;
    cursor: pointer;
}
.choose  .chambertv{
   
}
.choose .photos
{
    background: url(../assets/images/media/photos.png) !important;

}

.choose .chambertv-desc
{
    opacity: 0.8;
    color: #fff;
    height: 100%;
    padding: 15px;
}
.choose .photo-overlay
{ 
    background:#DC5419CC;
}
.choose .tv-overlay
{ 
    background:rgba(18, 68, 96, 0.8);
    
}
.choose .chambertv .play{
    margin-top: 15%;
    text-align: center;
}
.choose .chambertv .play img{
    width: 70px;
    height: 70px;
    
} 

.choose .c_panel .content {
    background: #fff
}
.choose .media-item{
    padding: 0;
    height: 280px;
    margin-right: 5px;
    margin: 5px 0;
    background:#fff;
    box-shadow: #cacccf;
   
}
.choose .tv-container{
    background: url(../assets/images/media/Chamber\ TV.png) !important;
    display: flex;
    height: 100%
}
.choose .tv-container >div{
    width:50%;
    height: 100%;
}
.choose .photos-container{
    background: url(../assets/images/media/photos.png) !important;
    display: flex;
    height: 100%
}
.choose .photos-container >div{
    width:50%;
    height: 100%;
}
.choose .event-container .item-desc{
    padding: 20px;
    }
.choose .item-desc{
padding: 20px;
}
.choose .event-container{
    display: flex;
    height: 100%
}
.choose .event-container >div{
    width:50%;
    height: 100%;
}
.choose .media-item  span{
    opacity:0.5;
    display: block;
    margin: 15px 0;
}
.choose .media-item .news p{
    font-size: 16px;
  
}

.choose .media-item .link-container a{ 
    color: #fff;
    bottom: 0;
    position: absolute;
}
.choose .media-item .link-container-news a,.choose .media-item .link-container-events a{ 
    color: #DC5419;
    bottom: 0;
    position: absolute;
}
.choose .media-item .link-container i,.choose .media-item .link-container-news i,.choose .media-item .link-container-events i{
    margin-left: 190px;
    padding: 8px;
    border: 2px solid #E5E5E5B0;
    border-radius: 50%;
}

.choose .media-item img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.choose .c_panel .content .c_info {
    border: 1px solid #ccc;
    padding: 10px
}

.choose .c_panel .content .c_info img {
    width: 40%;
    float: left;
    padding-right: 10px;
}

.choose .c_panel .content .c_info p {
    padding: 10px;
    color: #888;
    line-height: 1.5
}

.choose .c_panel .content .content2,
.choose .c_panel .content .content3 {
    display: none
}

.choose .video {
    background: #636363;
    text-align: center;
    color: #fff;
    height:100%
}

.choose .video i {
    background: #f00;
    color: #fff;
    padding: 15px;
    cursor: pointer
}
@media (max-width:575px) {
    .choose .inline-navbar ul li {
       font-size: 14px;
    }
    .choose .media-item  i{
        margin-left: 160px !important;
    }
}





